.col-md-6 {
    margin: auto;
    text-align: center;
}
.output {
    margin:auto;
    text-align: center;
}

body {
    margin-top: 70px;
    background: #333;
    color: #fff;
    font-family: cursive;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 2px;
    padding-bottom: 2px;
    width: 200px;
    border-radius: 5px;
    text-align: left;
}

.bg-primary {
    background: rgb(0, 89, 255);
}

.bg-success {
    background: green;
}

.bg-danger {
    background: red;
}